<div class="container">
  <h2 class="d-flex justify-content-center">ProgForum</h2>

  <nav class="navbar  navbar-expand-sm navbar-light bg-info ">
    <div class="container-fluid">
      <a class="navbar-brand" style="color:brown;" href="#">𝓟𝓕</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">Home</a>
          </li>
          <li class="nav-item">
            <button routerLink="section" class="m-1 btn btn-light btn-outline-primary" Button>Sections</button>
          </li>
          <li class="nav-item dropdown" *ngIf="ifadmin">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Admin menu
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <li><a class="dropdown-item" routerLink="user">Get all users</a></li>
              <li><a class="dropdown-item" href="#">Something else</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" href="#">Something else here</a></li>
            </ul>
          </li>
        </ul>
        <ul class="navbar-nav" style="margin-left: 30px;" *ngIf="!ifLoggedIn">
          <li class="nav-item" >
            <button routerLink="login" class="m-1 btn btn-light btn-outline-primary" Button>Sign In</button>
          </li>
          <li class="nav-item">
            <button routerLink="registration" class="m-1 btn btn-warning btn-outline-success" Button>Sign Up</button>
          </li>
        </ul>
        <ul class="navbar-nav" style="margin-left: 30px;" *ngIf="ifLoggedIn">
          <li class="nav-item d-flex p-2 align-items-center" >
            <h6>Hello</h6>
            <button (click)="signOut()"
            class="m-1 btn btn-light btn-outline-primary ml-10" Button>Sign Out</button>
        </li>
      </ul>
      </div>
    </div>
  </nav>
  <router-outlet></router-outlet>
</div>